@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divH1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.landPageH1 {
  margin-top: 20px;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 30px;
  text-align: justify;
  font-family: "Noto Sans", sans-serif;
}

.landPageImage {
  margin-top: 40px;
  width: 900px;
  height: auto;
}

.homeButton {
  margin-top: 30px;
  padding: 10px 15px 10px 15px;
  width: 160px;
  border: 1px solid #b660cc;
  background-color: #b660cc;
  color: rgb(255, 255, 255);
  font-size: 17px;
  font-weight: bold;
  font-family: "Noto Sans", sans-serif;
  border-radius: 30px;
}
